* { box-sizing: border-box; }

ul, ol { padding: 0; }

li { list-style-type: none; }

a {
  text-decoration: none;
   color: #000;
 }

.contenedor{
  margin: 0 auto;
  max-width: 1200px;
  background-color: rgba(230, 34, 142, 0.66);
  border: 10px solid green;
  overflow: hidden;
}
.cajaA{
width: 20.83%;
background-color: red;
border: 10px solid blue;
float: left;
}
.cajaB{
width: 66.66%;
background-color: red;
border: 10px solid blue;
margin: 0 2.08% 0 2.08%;
float: left;
}
.cajaC{
width: 8.33%;
background-color: red;
border: 10px solid yellow;
float: left;
}
h1{
  width: 100%;
  background-color: rgba(255, 0, 0, 0.5);
  height: 150px;
  border: 10px solid black;
}
@media (max-width:900px) {
.contenedor{
  border: 20px solid orange;
  width: 95%;
}
.cajaA{
width: 40%;
}
.cajaB{
  width: 55%;
  float: right;
  margin:0;
}
.cajaC{
  width: 100%;
  float: none;
  clear: both;
}
}
@media (max-width:450px){

  .cajaA,.cajaB,.cajaC {
    width: 100%;
    float: none;
  }
}
