*{/* asterisco: selector universal */
  box-sizing: border-box;
}
li{
  list-style-type: none;
}
ul,ol{
  padding: 0;
}
/*style de index*/
.index {
  background-image: url(../img/emilia-home.jpg);
  background-size: 900px;
  background-repeat: no-repeat;
  background-position-x: right;
  font-family: 'Open Sans', sans-serif;

}

h1 {
  font-family: 'Raleway', sans-serif;
}
.emiliahome{
font-family: 'Work Sans', sans-serif;
font-size: 20px;
}
.index ul{
  list-style-type: none;
  padding-left: 40px;
}
.h1Index{
  color: black;
  font-size: 70px;
  background-color: rgba(255, 255,255, 0.5);

}
/* ABOUT */
.about{
  background-image: url(../img/emilia-about.jpg);
  background-size: 1000px;
  background-repeat: no-repeat;
  background-position-x:right;
  font-family: 'Open Sans', sans-serif;
}
.barra{
  line-height: 50px;
  text-align: right;
  background-color: rgba(255, 255,255, 0.5);
}
.iconos{
    text-align: right;
}
a{
    text-decoration: none;
}
.h1about{
  font-size: 60px;
}
.h2about{
  padding-left: 50px;
  color: green;
}
h4 {
  padding-left: 50px;
  color: green;
}
/*--------------MUSIC--------------------------------*/
.music{
  margin: 0;
  font-family: sans-serif, Verdana, Tahoma;
}
.music header{
  background-image: url(../img/emilia-music-top.jpg);
}
.tags a{
  padding: 40px;
}
/*----------style del contac--------------------------*/
.contac{
  font-family: 'Open Sans', sans-serif;
}

.contac h4{
  padding-left: 0;
}
header{
  background-size: 100%;
  height: 164px;
  overflow: hidden;
}
.menu{
  text-align: right;
  background: rgba(255, 255,255, 0.5);
  padding: 20px 5px 20px 0;
  margin-top: 38px;
  float: none;
}
.iconos{
  text-align: right;
  margin: 10px 5px 0 0;
}
.celus{
  padding-bottom: 10px;
}
.contac h1{
  font-size: 80px;
}
