body{
  background-color: #9ccc65;
  font-family: sans-serif;

}

.tituloprincipal{
  text-align: center;
  font-family: 'Srisakdi', cursive;
}

li {
  line-height: 20px;
}

p {
  text-align: center;
}



h2 {
font-weight:normal;
text-decoration: underline;
line-height: 10px;
}
h2:hover{
  background-color: green;
}
h2.center{
  text-align: center;
}
