/*## Colores
	#c7c7c7 | gris.
	#508fb8 | celeste.
*/

/*reset generales*/
*{
box-sizing: border-box;
}
ul,ol{
  padding: 0;
}
li{
  list-style-type: none;
}
a{
  text-decoration: none;
  color: #000;
}

body{
  font-family: 'Raleway', sans-serif;
  background-image: url(../images/bg-body.png);
  text-align: center;
}
.container{
  margin: 30px;
  border: 1px solid #c7c7c7 ;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content:space-around;
  align-items: center;
}
.card{
  background-color: rgb(255, 255, 255);
  border-radius: 5%;
  padding: 20px 10px;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.foto{
  border-radius: 50%;/*no se porque no funciona con im*/
  width: 100%;
  display: flex;
}
.social-media, h2, p{
display: flex;
}
ul{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}
li{
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #508fb8;
  text-align: center;
  display: flex;
  align-items: center;
}
span{
  display: flex;
  /*Hacelo directo en el a ----*/
}
.card-data{
  text-align: left;
}
.card-data a{
  background-color: #c7c7c7 ;
  color: white;
  padding: 8px;
}

@media (min-width:720px) {
 .card{
     width: 40%;
     flex-wrap: nowrap;
 }
}
@media (min-width:960px) {
  .card{
  }
}
