*{
  box-sizing: border-box;
}

body {
  background: skyblue;
  font-family: 'Open Sans', sans-serif;
  width: 960px;
}
header{
/*  position: fixed;
  top: 0;
  left: 0;*/
  background-color: blue;
  background-size:contain;
  overflow: hidden;
}
.logo{
  float: left;
}
.menu{
float: left;
color: white;
background-color: orange;
margin: 25px;
}
main {
  background-color: white;
  margin-right: 80px;
  margin-left: 80px;

}
.bloque{
  position: relative;
  width: 300px;

}
.imag{
  z-index: 100;
  width: 100%;
}
.descuento{
  z-index: 900;
  position: absolute;
  right: 10px;
  top: 10px;
}
.cartelRojo{
  background-color: red;
  position: absolute;
  z-index: 900;
  color: white;
}
